@charset "UTF-8"; 

html,body,main{
    height: 100%;
    font-size: 62.5%;
    margin: 0;
}
main{
    background-color: #111111;
    font-size: 1.6rem;
    line-height: 1.6;
    position: relative;
    overflow: hidden;
    /*flexboxでtext_boxを上下中央配置する*/
    display: flex;
    justify-content: center;
    align-items: center; 
}

.text_box{
    background-color: #ffffff;
    width: 50%;
    border-radius: 5px;
}
.text_box p{
    text-align: justify;
    box-shadow: inset 0px 0px 15px black;
    padding: 50px;
    margin: 0;
    overflow: hidden;
}

.diagonal_line{
    position: absolute;
    /*赤い線をborder-topで描く*/
    border-top: solid #FF0000 1px;
}
